strong{
  color: blue;
  font-weight:100 ;
  font-size: 20px
}
#bold {
  font-weight: bold
}

strong.illnesses{
  color: red;
  font-style: 25px
}
p.warning{
  color: red;
  border: red solid 5px;
  font-weight: bold ;
  font-size: 25px ;
  padding: 10px;
  width: fit-content;
}
p.amr{
  font-size:40px 
}
a:hover {
  color: red
}
